/* Fonte Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* ------------- */

body{
    background-image: linear-gradient(to right,rgb(232,213,75),rgb(27,153,139));
    background-repeat: no-repeat;
    font-family: 'Raleway',Arial;
    color:white;
    margin:0;
}
hr{
    margin: 0;
}
p{
    margin:0;
}


/* Navbar */
nav{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top:0;
    background-color: rgb(244, 97, 54);
    width: 100vw;
    z-index: 2;

}
#navbar{
    display: flex;
    padding:1.2em;
    font-size: 20px;
    margin:0;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.nav-link{
    margin-left:2em;
    display: inline;
}
#navbar a{
    text-decoration: none;
    color:white;
}
#navbar a:hover{
    text-shadow: 0 0 5px #ffa500,
    0 0 15px #ffa500, 
    0 0 20px #ffa500,
     0 0 40px #ffa500,
      0 0 60px #ff0000,
       0 0 10px #ff8d00,
        0 0 98px #ff0000;
}
/* ------ */

/* Início */
main{
    display: flex;
    margin-top: 20vh;
    width:100%;
}
main h1, p{
    display: flex;
    font-size: 3em; 
    color:white;
    text-shadow: 0 0 5px #ffa500,
     0 0 15px #ffa500, 
     0 0 20px #ffa500,
      0 0 40px #ffa500,
       0 0 60px #ff0000,
        0 0 10px #ff8d00,
         0 0 98px #ff0000;
}
main p{
    font-size: 2em;
    justify-content: center;
}
main img{
    display: flex;
    margin: 0;
    box-shadow: 5px 20px 22px #ffa500;
    border-radius: 50%;
    height: 50vh;
}
main figure{
    margin-top: 70px;
    margin-bottom:130px;
}
#textbox{
    margin-top:150px;
}

/* Habilidades */
#habilidades{
    background-color: rgb(27,153,139);
    justify-content: center;
}
#habilidades p{
    font-size: 20px;
    text-shadow: none;
    margin:10px 10px 10px 50px;
}
#habilidades span{
    color:rgb(232,213,75);
    font-weight: bolder;
}
#habilidades h2{
    font-size: 4em;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}
#habilidades h3{
    font-size: 2em;
    margin-left: 2em;
    background-color: rgb(231,29,53);
    padding:0.3em;
    width: 6em;
    transform:skewY(-5deg);
    z-index: 1;
} 
#tecnologias{
    display: flex;
    justify-content: center;
}
#tabela-tecnologias{
    background-color: rgb(47,41,79);
    width: 90vw;
    border:1px solid white;
    border-radius:0.3em;
}
#tabela-tecnologias td{
    padding:0px;
}
.imagem-tecnologias{
    height: 90px;
    width: 90px;
}
#tabela-tecnologias figure{
    text-align: center;
    margin:0.4em;
}
.grid{
    display: grid;
    grid-template-areas: "item item item";
}
.coluna-meio{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/* ----------- */

/* Projetos */
#projetos{
    background-color: rgb(47,71,79);
    justify-content: center;
}
#projetos h2{
    font-size: 4em;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}

/* -------- */

/* Contato */
#contato{
    background-color: rgb(47,41,79);
    justify-content: center;
}
#contato h2{
    font-size: 4em;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}
/* ------- */
/* Footer */
footer{
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
footer p{
    padding:1em;
    grid-column: 2;
    text-shadow: none;
    font-size: 17px;
    display: block;
    text-align: center;
}
#social-media{
    grid-column: 2;
    display: flex;
    justify-content: center;
}
.icone{
    height: 60px;
}
/* ------ */